.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #E58411;
    display: flex;
    justify-content: center;
    align-items: center;
}