@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #E58411;
    --color-secondary: #1E1E1E;
    --color-darkBg: #1b1b1b;
    --color-background: #F7F7F7;
    --color-darkerBackground: #ECECEC;

    --font-poppins: Poppins, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-family: var(--font-poppins);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
    --color-background: #1E1E1E;
    --color-secondary: #FFFFFF;
}

.section-default{
    @apply container mx-auto py-6 px-4;
}